@font-face {
  font-family: megatrans;
  src: url(Megatrans.otf);
}

body {
  background: rgb(40, 38, 38);
  background: linear-gradient(40deg, rgba(40, 38, 38, 1) 11%, rgba(143, 32, 32, 1) 50%, rgba(28, 26, 26, 1) 87%);
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0; /* Rimuove il margine predefinito del body */
  font-family: 'megatrans', sans-serif; /* Usa il font personalizzato */
}

#bodyGameList {
  overflow: hidden;
}

.flexContainer {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Usa min-height invece di height per evitare problemi con il ridimensionamento */
}

.flexNavBar {
  align-items: center;
  display: flex;
  flex-direction: row;
  height: 12%;
  border: 2px solid rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  background: rgb(65, 61, 62);
  background: linear-gradient(40deg, rgba(65, 61, 62, 0.9697012594100141) 0%, rgba(24, 23, 24, 1) 52%, rgba(57, 51, 51, 0.9753035003063726) 100%);
  padding: 10px; /* Aggiungi padding per evitare il testo attaccato ai bordi */
}

.navBarStruct {
  margin-left: 6.5%;
  display: flex; /* Usa flex per allineare il contenuto orizzontalmente */
  align-items: center; /* Allinea il testo verticalmente al centro */
}

.navBarStruct td {
  padding-left: 10px;
}

.navBarStruct a {
  font-size: 18px;
  text-decoration: none;
  color: white;
}

.navBarStruct input[type="submit"] {
  height: 40px;
  width: 70px;
  transition: background-color 0.3s, transform 0.3s, filter 0.3s;
  cursor: pointer; /* Mostra il cursore come "pointer" su elementi cliccabili */
}

.navBarStruct input[type="submit"]:hover {
  background-color: #0929C7;
  border-radius: 10px;
  transform: scale(1.1);
  filter: brightness(1.2);
}

.navBarStruct input[type="submit"]:active {
  transform: scale(0.9);
  border-radius: 10px;
}
